.about-us-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: $desktop-width) {
    padding-right: 175px;
  }
}

.about-us-list__item {
  position: relative;
  padding-top: 60px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  &:nth-child(-n+3) {
    grid-column: 1;
  }

  &:nth-child(4) {
    grid-row: 1;
  }

  &:nth-child(5) {
    grid-row: 2;
  }

  &:nth-last-child(-n+3) {
    grid-column: 2;
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us-list__item svg {
  position: absolute;
  fill: $aquamarin;
}

.about-us-list__item--ecomaterials svg {
  top: 5px;
  left: 8px;
}

.about-us-list__item--style-price svg {
  top: 6px;
}

.about-us-list__item--upper-likes svg {
  top: 11px;
  left: 8px;
}

.about-us-list__item--love-tenderness svg {
  top: 9px;
  left: 3px;
}

.about-us-list__item--manufacturer-sup svg {
  top: 9px;
  left: -6px;
}

.about-us-list__item--gift-box svg {
  top: 7px;
  left: 3px;
}
