.button {
  @include link-reset;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 14px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $grey-brown;
  text-align: center;
  text-transform: uppercase;
  background-color: $basic-white;
  border: 2px solid $grey-brown;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  &:hover {
    color: $basic-white;
    background-color: $grey-brown;
  }

  &:active {
    color: $button-text-active;
    background-color: $grey-brown;
  }
}
