.catalog-item__product-image {
  .catalog-item--bunny-jumper & {
    background-color: $footer-back;
  }

  .catalog-item--laundry-basket & {
    background-color: $section-back;
  }

  .catalog-item--basket-for-toys & {
    background-color: $footer-back;
  }
}

.catalog-item__container {
  padding: 27.5px 28px 26.5px 28px;
  border: 1px solid $property-border;

  .catalog-item--laundry-basket & {
    padding-top: 28.5px;
  }

  .catalog-item--basket-for-toys & {
    padding-top: 24.5px;
  }
}

.catalog-item__product-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  .catalog-item--bunny-jumper & {
    margin-bottom: 6px;
  }

  .catalog-item--laundry-basket & {
    margin-bottom: 5px;
  }

  .catalog-item--basket-for-toys & {
    margin-bottom: 10px;
  }
}

.catalog-item__product-properties {
  margin: 0;
  margin-bottom: 22.5px;
  padding: 0;
  padding-bottom: 17.5px;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid $property-border;
}

.catalog-item__product-order {
  margin: 0;
  margin-bottom: 26.5px;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}
