.catalog-item {

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: 659px;
  }
}

.catalog-item__product-image {
  display: block;
  flex-grow: 1;
  flex-basis: 50%;
  line-height: 0;

  .catalog-item--bunny-jumper & {
    background-color: $footer-back;
  }

  .catalog-item--laundry-basket & {
    background-color: $section-back;
  }

  .catalog-item--basket-for-toys & {
    background-color: $footer-back;
  }
}

.catalog-item__container {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 50%;
  padding: 26.5px 28px;
  border: 1px solid $property-border;

  @media (min-width: $tablet-width) {
    padding: 27px 33px 20px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 33px 25.5px 28px;
  }

  .catalog-item--bunny-jumper & {
    padding-top: 27.5px;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
    }
  }

  .catalog-item--laundry-basket & {
    padding-top: 28.5px;

    @media (min-width: $tablet-width) {
      padding-top: 27.5px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 23px;
    }
  }

  .catalog-item--basket-for-toys & {
    padding-top: 24.5px;
  }
}

.catalog-item__product-name a {
  @include link-reset;
}

.catalog-item__product-info {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  padding-bottom: 5px;
  min-height: 77px;
  border-bottom: 1px solid $property-border;

  @media (min-width: $tablet-width) {
    min-height: 234px;
    margin-bottom: 23.5px;
  }

  @media (min-width: $desktop-width) {
    min-height: 97px;
  }
}

.catalog-item__product-name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  .catalog-item--bunny-jumper & {
    margin-bottom: 6px;

    @media (min-width: $tablet-width) {
      margin-bottom: 6.5px;
    }
  }

  .catalog-item--laundry-basket & {
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      margin-bottom: 9.5px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 6.5px;
    }
  }

  .catalog-item--basket-for-toys & {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin-bottom: 7.5px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog-item__product-properties {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: $grey-brown;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__product-order {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__button-add-in-cart svg {
  fill: $basic-black;
  opacity: 0.2;
}
