.catalog {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 103px;
  }
}

.catalog__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    column-gap: 51px;
    row-gap: 57px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 111px;
  }
}

.catalog__item {
  margin-bottom: 29px;

  &:last-child {
    grid-column: 1/4;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
