.catalog-demonstration {
  position: relative;
  padding-top: 96px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
  }
}

.catalog-demonstration__video {
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.catalog-demonstration__video svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    width: 121px;
    height: auto;
  }

  &:active {
    width: 80.5px;
    height: auto;
    opacity: 0.3;
  }
}

//Бордер ниже разделен на две части чтобы блок с видео был не в бордере
//1 - бордер верхнего блока без нижней части
//2 - бордер нижнего блока без верхней части
//3 - контейнер, необходимый для создания бордера
.catalog-demonstration__title {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 96px;
  padding-top: 22px;
  padding-left: 90px;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid $property-border;/*1*/
  border-bottom: none;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: auto;
    margin-bottom: 25.5px;
    padding: 0;
    padding-left: 65px;
    font-size: 20px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27.5px;
    padding: 0;
    padding-top: 47px;
  }
}

.catalog-demonstration__title svg {
  position: absolute;
  top: 29px;
  left: 34px;
  fill: $aquamarin;

  @media (min-width: $tablet-width) {
    top: -8px;
    left: 0;
  }
}

.catalog-demonstration__wrapper {/*3*/
  box-sizing: border-box;
  padding: 36px 34px 32px 33px;
  border: 1px solid $property-border;/*2*/
  border-top: none;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px $catalog-item-hover;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 42px 45px 41px;
  }

  @media (min-width: $desktop-width) {
    width: 367px;
    padding: 48px 57px 60px 79px;
    border: 1px solid $property-border;/*2*/
    border-left: none;
  }
}

.catalog-demonstration__description {
  margin: 0;
  margin-right: -3px;
  margin-bottom: 41px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: $grey-brown;

  @media (min-width: $tablet-width) {
    margin-right: -25px;
    margin-left: -2px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: -21px;
    margin-bottom: 50.5px;
    line-height: 30.5px;
  }
}
