.contacts {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 39px;
  padding-bottom: 91px;

  @media (min-width: $tablet-width) {
    padding-bottom: 103px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    max-width: $desktop-width;
    padding-bottom: 0;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 102px;
  }

  &::before {
    content: url("%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='46.68px' height='81.691px' viewBox='-11.34 -28.346 46.68 81.691' enable-background='new -11.34 -28.346 46.68 81.691' xml:space='preserve'%3E%3Cg id='miu'%3E%3Cg id='Artboard-1' transform='translate(-755.000000, -443.000000)'%3E%3Cg id='slice' transform='translate(215.000000, 119.000000)'%3E%3C/g%3E%3Cg id='editor-flag-triangle-notification-glyph'%3E%3Cpath fill='%2363D1BB' d='M751.439,418.545v38.9l38.9-19.451L751.439,418.545z M743.66,496.346v-81.691h3.805v81.691H743.66z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Crect x='-11.34' y='-28.346' fill='%23231F20' width='3.805' height='81.691'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    display: block;
    width: 47px;
    height: 81px;
  }
}

.contacts a {
  @include link-reset;
}

.contacts__wrapper {
  min-width: $mobile-min-width;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    min-width: 330px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    padding-top: 79px;
    padding-left: 175px;
  }
}

.contacts__title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__communication-block {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 31px;
  color: $grey-brown;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 49px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 82.5px;
  }
}

.contacts__email,
.contacts__address {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-basis: 334px;
  }
}

.contacts__email {
  margin-bottom: 30px;
}

.contacts__param {
  flex-grow: 1;
  flex-basis: 78px;
}

.contacts__value {
  flex-grow: 1;
  flex-basis: 183px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-basis: 256px;
  }

  @media (min-width: $desktop-width) {
  }
}

.contacts__value a {
  padding-bottom: 3px;
  border-bottom: 1px solid $aquamarin-form;

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.contacts__value address {
  font-style: normal;
}

.contacts__button-write-us {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: calc(100% - 60px);
  min-width: $mobile-min-width;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    left: 50%;
    min-width: auto;
    width: 230px;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    position: static;
    min-width: auto;
    width: 230px;
  }
}

.contacts__map {
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-width: 334px;
  }

  @media (min-width: $desktop-width) {
    min-width: 525px;
  }
}

.contacts__map svg {
  position: absolute;
  top: 145px;
  left: 138px;

  @media (min-width: $tablet-width) {
    top: 139px;
    left: 363px;
  }

  @media (min-width: $desktop-width) {
    top: 146px;
    left: 239px;
  }
}
