.contacts {
  margin-bottom: 39px;

  & a {
    @include link-reset;
  }
}

.contacts__title {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__communication-block {
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: $grey-brown;
}

.contacts__email {
  margin-bottom: 30px;
}

.contacts__value address {
  font-style: normal;
}

.contacts__map {
  margin-bottom: 42px;
}
