.form-block {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form-block__title {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98.5px;
  }
}

.form-block__slogan {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 30px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $grey-brown;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
}

.form-block__form {
  font-size: 17px;
  line-height: 18px;
}
