.form-block {
  margin-bottom: 55px;
}

.form-block__title {
  padding-top: 73.5px;
  padding-left: 22px;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.form-block__slogan {
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $grey-brown;
}

.form-block__form {
  font-size: 17px;
  line-height: 18px;
}
