.form-block {
  margin-bottom: 55px;
}

.form-block__title {
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 98.5px;
  }
}

.form-block__slogan {
  margin-bottom: 29px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: $grey-brown;
}

.form-block__form {
  font-size: 17px;
  line-height: 18px;
}
