.form-order {
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form-order__list label {
  font-weight: bold;
}

.form-order__input {
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    font-size: 19px;
  }
}

.form-order__wrapper {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding-right: 175px;
    padding-left: 0;
  }

  &--confirm-block {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $desktop-width) {
      padding-left: 175px;
    }
  }
}

.form-order__item {
  margin: 0;
  padding: 0;
  border: none;

  &--type {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
    }
  }

  &--color {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      padding: 50px 0;
      margin-bottom: 50px;
      background-color: $footer-back;
    }

    @media (min-width: $desktop-width) {
      padding: 48px 0 52px 0;
    }
  }

  &--full-name,
  &--phone,
  &--email {
    margin-bottom: 34.5px;
  }

  &--full-name {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      margin-bottom: 0px;
      padding: 46px 0 24px 0;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }
  }

  &--message {
    margin-bottom: 14.5px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 49px;
    }
  }

  &--color,
  &--phone,
  &--email {
    @media (min-width: $tablet-width) {
      background-color: $footer-back;
    }
  }
}

.form-order__title {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 167px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $aquamarin;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    min-width: 175px;
    padding-left: 60px;
  }

  .form-order__item--type & {
    margin-bottom: 30px;
  }

  .form-order__item--color & {
    margin-bottom: 25px;
  }

  .form-order__item--full-name & {
    margin-bottom: 29px;
  }

  .form-order__item--phone &,
  .form-order__item--email & {
    margin-bottom: 4.5px;
  }

  .form-order__item--message & {
    margin-bottom: 22.5px;
  }

  .form-order__item--type &,
  .form-order__item--color &,
  .form-order__item--full-name &,
  .form-order__item--phone &,
  .form-order__item--email &,
  .form-order__item--message & {

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    width: calc(100% - 60px);
    height: 1px;
    background-color: $aquamarin-form;

    .form-order__item--email & {
      left: 78px;
      width: calc(100% - 78px);
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form-order__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-basis: 501px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    min-width: 700px;
  }

  .form-order__item--color & {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 262px auto;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 262px 264px auto;
    }
  }
}

.form-order__input {
  box-sizing: border-box;
  min-height: 52px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $basic-black;

  @media (min-width: $tablet-width) {
  min-height: 54px;
  padding-left: 17px;
  padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
  }

  .form-order__input-block--radio &,
  .form-order__input-block--checkbox & {
    display: none;
  }

  .form-order__item--message & {
    min-height: 142px;
    padding: 17px;
    border: 2px solid $basic-black;
    resize: none;

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      flex-basis: 501px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: auto;
      min-width: 700px;
    }
  }
}

.form-order__input-block {
  position: relative;

  &--radio {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 42px;
    margin-bottom: 11px;
    padding-left: 60px;

    @media (min-width: $tablet-width) {
      min-height: 52px;
      margin-bottom: 24px;
      padding-left: 81px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 38px;
    margin-bottom: 23px;
    padding-left: 61px;

    @media (min-width: $tablet-width) {
      min-height: 52px;
      margin-bottom: 24px;
      padding-left: 81px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 24px;
      padding-top: 3px;
    }
  }

  &--full-name {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .form-order__item--color &:nth-last-child(-n + 2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0px;
    }
  }

  .form-order__item--color &:nth-last-child(-n + 3) {
    @media (min-width: $desktop-width) {
      margin-bottom: 0px;
    }
  }

  &--phone,
  &--email {
    display: block;
    flex-grow: 1;
    flex-basis: 501px;

    @media (min-width: $desktop-width) {
      flex-basis: auto;
      width: 100%;
      min-width: 700px;
    }
  }
}

.form-order__input-block--full-name label {
  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.form-order__input-block--phone svg,
.form-order__input-block--email svg {
  fill: $basic-black;
  opacity: 0.2;
}

.form-order__input-block--phone svg {
  position: absolute;
  top: 11px;
  right: 7px;

  @media (min-width: $tablet-width) {
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 8px;
  }
}

.form-order__input-block--email svg {
  position: absolute;
  top: 12px;
  right: 3px;

  @media (min-width: $tablet-width) {
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.form-order__warn {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: $grey-brown;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form-order__button-submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
