.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  z-index: 1;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 9.5px;
    left: -3.25px;
    display: block;
    width: 27.5px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 9.5px;
    left: -3.25px;
    display: block;
    width: 27.5px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
