.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 30px;

  &::before {
    content: "";
    width: 28.5px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    width: 28.5px;
    height: 2px;
    background-color: $basic-black;
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
