.search-form {
  position: relative;
  min-width: 82px;

  @media (min-width: $tablet-width) {
  border-left: 1px solid $property-border;
  border-right: 1px solid $property-border;
  }
}

.search-form__search {
  display: none;
  border: none;
}

.search-form__item-name {
  @media (min-width: $tablet-width) {
  display: none;
  }
}
