.site-list {
  @include list-reset;
  position: relative;
}

.site-list__item {
  box-sizing: border-box;
  z-index: 1;

  &--text {
    &--norm {
      padding-top: 21px;
      font-size: 15px;
      font-weight: normal;
    }

    &--small {
      padding-top: 22px;
      font-size: 15px;

      @media (min-width: $desktop-width) {
        padding-top: 20px;
      }
    }

    &--brown {
      color: $grey-brown;
    }
  }

  &--block {
    display: block;
    min-height: 79px;
    padding: 28.5px 0 0 76px;
    background-color: $basic-white;
    border-top: 1px solid $property-border;

    @media (min-width: $tablet-width) {
      min-height: 88px;
      padding: 32.5px 0 0 0;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      min-width: 185px;
    }
  }

  &--logo {
    padding-top: 21px;
    padding-left: 117px;

    @media (min-width: $tablet-width) {
      margin-left: -2px;
      padding: 0;
      padding-top: 22px;
    }

    @media (min-width: $desktop-width) {
      min-width: 0;
      margin-left: 0;
      padding-top: 9px;
      z-index: 2;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      padding-left: 84px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-right: 2px;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      min-width: 83px;
    }

    @media (min-width: $desktop-width) {
      min-width: 83px;
    }
  }
}

.site-list__link {
  @include link-reset;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item--logo img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.site-list__icon {
  position: absolute;
  fill: rgba($basic-black, 0.2);

  .site-list__link:hover ~ & {
    fill: $aquamarin;
  }

  .site-list__link:active ~ & {
    fill: $aquamarin;
    opacity: 0.2;
  }

  &--search {
    top: 32px - 28.5px;
    left: 32px - 76px;

    @media (min-width: $tablet-width) {
      top: 36px - 32.5px;
      left: 32px;
    }
  }

  &--cart {
    top: 31px;
    left: 30px;

    @media (min-width: $tablet-width) {
      top: 35px;
      left: 31px;
    }
  }
}
