.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.social__item {
  margin-right: 41px;

  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  @include link-reset;
}
