$basic-white: #ffffff;
$button-text-active: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$input-text: rgba(0, 0, 0, 0.3);
$catalog-item-hover: rgba(0, 0, 0, 0.1);
$section-back: #f9f9f9;
$footer-back: #f1f1f1;
$aquamarin: #63d1bb;
$aquamarin-form: #62d1ba;
$aquamarin-hover: #59d5bc;
$aquamarin-dark: #56c3b2;
$aquamarin-dark-hover: #46c1ae;
$emerald: #149080;
$grey-brown: #444444;
$flag-handle: #231f20;
$property-border: #ececec;
$footer-border: #e5e5e5;
$modal-border: #c6c6c6;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-min-width: 320px;
