$basic-white: #ffffff;
$basic-black: #000000;
$section-back: #F9F9F9;
$footer-back: #F1F1F1;
$aquamarin: #63D1BB;
$aquamarin-form: #62D1BA;
$aquamarin-hover: #59D5BC;
$aquamarin-dark: #56C3B2;
$aquamarin-dark-hover: #46C1AE;
$emerald: #149080;
$grey-brown: #444444;
$flag-handle: #231F20;
$property-border: #ECECEC;
$footer-border: #E5E5E5;

$tablet-width: 728px;
$desktop-width: 1110px;
$mobile-min-width: 260px;
